extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to details 
  else
  - let toolid = toShow._id
  - let toolname = toShow.name
  - let toolversion = toShow.version 
  - let toolcost = toShow.cost 
  div(class='container')
    div.row 
      div(class='toolAttr mr-3') Tool  ID is: 
      div #{toolid} 
    div.row 
      div(class='toolAttr mr-3') Tool name is: 
      div(class='toolDetailAttr') #{toolname}
    div.row  
      div(class='toolAttr mr-3') Tool cost is: 
      div(class='toolDetailAttr') #{toolcost}
    div.row
      div(class='toolAttr mr-3') Tool version: 
      div(class='toolDetailAttr') #{toolversion}